.direitos-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    background-color: rgb(53, 158, 243); 
}

.logofull-img{
    margin: 20px;
    font-family: 'Abel', sans-serif;
    color: white;
}

.contato{
    font-family: 'Abel', sans-serif;
    color: white;
}

